::ng-deep .mat-mdc-slide-toggle.mat-accent{
        --mdc-switch-select-focus-state-layer-color: #4caf50;
        --mdc-switch-select-handle-color: #4caf50;
        --mdc-switch-select-hover-state-layer-color: #4caf50;
        --mdc-switch-select-pressed-state-layer-color: #4caf50;
        --mdc-switch-select-focus-handle-color: #4caf50;
        --mdc-switch-select-hover-handle-color: #4caf50;
        --mdc-switch-select-pressed-handle-color: #4caf50;
        --mdc-switch-select-focus-track-color: #4caf50;
        --mdc-switch-select-hover-track-color: #4caf50;
        --mdc-switch-select-pressed-track-color: #4caf50;
        --mdc-switch-select-track-color: #4caf50;
}