<div class ="container-sidebar">

        <div class="group-menu">
          <div class ="conteiner-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(1)"
              [ngClass] ="{'caixa-menu-select':this.menuService.menuSelecionado == 1, '':this.menuService.menuSelecionado!= 1}" >
            DASHBOARD
            </div>
          </div>
        </div>

        <div class="group-menu">
          <div class ="conteiner-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(2)"
              [ngClass] ="{'caixa-menu-select':this.menuService.menuSelecionado == 2, '':this.menuService.menuSelecionado!= 2}" >
            SISTEMA
            </div>
          </div>
        </div>

        <div class="group-menu">
          <div class ="conteiner-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(3)"
              [ngClass] ="{'caixa-menu-select':this.menuService.menuSelecionado == 3, '':this.menuService.menuSelecionado!= 3}" >
            CATEGORIA
            </div>
          </div>
        </div>

        <div class="group-menu">
          <div class ="conteiner-icone-menu">
            <div class="caixa-menu caixa-menu-texto" (click)="selectMenu(4)"
              [ngClass] ="{'caixa-menu-select':this.menuService.menuSelecionado == 4, '':this.menuService.menuSelecionado!= 4}" >
            DESPESA
            </div>
          </div>
        </div>

</div>




