.container-sidebar
{
  position: fixed;
  padding-top:  72px;
  width: 150px;
 min-height: 100vh;
 min-height: flex;
 height: -webkit-fill-avaliable;

background:  #fefefe;
box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0px rgba(0,0,0,0.12),
0 8px 10px -5px rgba(0,0,0,0.2);

.group-menu{


}


.conteiner-icone-menu{

  padding: 8px;
}

.caixa-menu {
  width: 130px;
  height: 42px;
  border-radius: 4px;
  background: rgba(128,128,128,0.614);
  cursor: pointer;

}

.caixa-menu-select{
  background: #27ae60 !important ;
}

.caixa-menu-texto{

  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-weight: bold;
  transform: translateY(10px);

}


}
